body {
  background-color: black;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

/* adjust the poster to the center */
.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  padding: 0;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

/* Style for the motivation image */
.motivation-img {
  border: 5px solid white;
  width: 100%;
}